name: Release

on:  
  workflow_dispatch:
   inputs:
      version:
        description: <newversion> | major | minor | patch | premajor | preminor | prepatch | prerelease [--preid=<prerelease-id>
        default: patch
        required: true

jobs:
  release:
    name: Bump NPM version
    runs-on: ubuntu-20.04    

    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          token: ${{secrets.GH_PERSONNAL_ACCES_TOKEN}}

      - run: git config --global user.email "bonita-ci@bonitasoft.com"
      - run: git config --global user.name "bonita-ci"

      - name: Install Node
        uses: actions/setup-node@v1 
        with:
          node-version: '14'          

      - name: Create github tag        
        run: |
          cd custom-widget-builder
          NEWRELEASETAG=$(npm version ${{github.event.inputs.version}} -m "Release %s") 
          git push --atomic origin main $NEWRELEASETAG